<!DOCTYPE html>
<head>
</head>
<body>
    <table>
        <thead>
          <tr>
            <th>Route</th>
            <th>HttpVerb</th>
            <th>Description</th></tr>
          </thead>
          <tbody>
             <tr>
                 <td> /api/resources/test </td>
                 <td>GET</td>
                 <td>receive list EPS from 財報狗</td>
             </tr>
              <tr>
                 <td> /api/resources/test/stockID</td>
                 <td>GET</td>
                 <td>receive the current value of stock</td>
             </tr>
              <tr>
                 <td> /api/resources/test/stockName</td>
                 <td>GET</td>
                 <td>receive the current value of stock</td>
             </tr>
          </tbody>                
        </table>
</body>